.container
    .row
        .page-header.clearfix
            h1 任务发布管理系统 #{title}
            .col-md-4
                h5 #{subtitle}
            .col-md-8
                if error
                h4.warning #{error}




