extends ../layout

block content
    .container
        .row
            h1 您已登录，自动跳转<a href="/list">任务列表</a>，点击<a href="/list"><strong>这里</strong></a>直接跳转 :)
            h4.error-info.error

        script(src="../js/error.js")