extends ../layout

block content
    .container
        .row
            h1 将自动跳转<a href="/login">登录</a>页面，或点击<a href="/login"><strong>这里</strong></a>跳转 :)
            h4.error-info.error

        script(src="../js/error.js")