extends ../layout

block content
    .container
        .row
            form.form-horizontal(method="post", action="/login")
                .form-group
                    label.col-sm-4.control-label(for="username") 用户名
                    .col-sm-4
                        input#username.form-control(type="text", name="userName", placeholder="邮箱、电话号码或字母和数字组合" required="required")
                .form-group
                    label.col-sm-4.control-label(for="password") 密码
                    .col-sm-4
                        input#password.form-control(type="password", name="password" placeholder="请输入大于6位的数字字母组合密码" required="required")
                .form-group
                    .col-sm-4
                    .col-sm-4
                        button.btn.btn-success(type="submit") &nbsp;登陆&nbsp;
                        span &emsp;点
                            a(href="/signup") 这里
                        span 注册或
                            a(href="/resetpwd/index") 忘记密码