extends ../layout

block content
    .container
        .row
            form.form-horizontal(method="post", action="/new")
                .form-group
                    label.col-sm-3.control-label(for="password") 任务名称
                    .col-sm-6
                        input#password.form-control(type="text", name="task[title]", placeholder="任务标题", required="required")
                .form-group
                    label.col-sm-3.control-label(for="details") 任务详情
                    .col-sm-6
                        textarea#details.form-control(name="task[details]", rows="5", placeholder="请输入任务详情内容")
                .form-group
                    label.col-sm-3.control-label(for="pay-account") 佣金
                    .col-sm-6
                        input#pay-account.form-control(type="number", min="1" max="100" step="0.01", name="task[account]", placeholder="请输入1~100范围的任务佣金" required="required")
                .form-group
                    .col-sm-3
                    .col-sm-6.col-sm-offset-1
                        button.btn.btn-info(type="reset") &emsp;重置&emsp;
                        span &emsp;&emsp;&emsp;
                        button.btn.btn-success(type="cancel") &emsp;发布&emsp;
