extends ../layout

block content
    .container
        .row
            form.form-horizontal(method="post", action="/new")
                .form-group
                    label.col-sm-3.control-label(for="password") 任务标题
                        span(style="color: red;") &nbsp;*
                    .col-sm-6
                        input#password.form-control(type="text", name="task[title]", value="#{task.title}", placeholder="任务标题", required="required")
                .form-group
                    label.col-sm-3.control-label(for="crm-password") 任务概况
                        span(style="color: red;") &nbsp;*
                    .col-sm-6
                        input#crm-password.form-control(type="text", name="task[summary]", value="#{task.summary}" placeholder="简单描述任务内容" required="required")
                .form-group
                    label.col-sm-3.control-label(for="details") 任务详情 &nbsp;
                    .col-sm-6
                        textarea#details.form-control(name="task[details]", rows="5", placeholder="请输入任务详情内容") #{task.details}
                .form-group
                    label.col-sm-3.control-label(for="pay-account") 佣金
                        span(style="color: red;") &nbsp;*
                    .col-sm-6
                        input#pay-account.form-control(type="number", name="task[account]", value="#{task.account}" placeholder="任务佣金" required="required")
                .form-group
                    .col-sm-3
                    .col-sm-6.col-sm-offset-1
                        - if(!task._id) {
                        button.btn.btn-info(type="reset") &emsp;重置&emsp;
                        span &emsp;&emsp;&emsp;
                        button.btn.btn-success(type="cancel") &emsp;发布&emsp;
                        - } else {
                        button.btn.btn-info(type="reset") &emsp;&emsp;更新&emsp;&emsp;
                        - }