extends ../layout

block content
    .container
        .row
            form.form-horizontal(method="post", action="/register/new")
                .form-group
                    label.col-sm-4.control-label(for="username") 用户名
                        span(style="color: red;") &nbsp;*
                    .col-sm-4
                        input#username.form-control(type="text", name="users[userName]", value="#{users.userName}", placeholder="可为邮箱、电话号码或字母和数字组合", required="required")
                .form-group
                    label.col-sm-4.control-label(for="password") 登录密码
                        span(style="color: red;") &nbsp;*
                    .col-sm-4
                        input#password.form-control(type="password", name="users[password]", value="#{users.password}", placeholder="请输入大于6位的数字字母组合密码", required="required")
                .form-group
                    label.col-sm-4.control-label(for="crm-password") 确认密码
                        span(style="color: red;") &nbsp;*
                    .col-sm-4
                        input#crm-password.form-control(type="password", name="users[crmPassword]", value="#{users.crmPassword}", placeholder="请再次输入密码", required="required")
                .form-group
                    label.col-sm-4.control-label(for="pay-account") 支付佣金账户
                    .col-sm-4
                        input#pay-account.form-control(type="text", name="users[payAccount]", value="#{users.payAccount}", placeholder="用于获取佣金或支付使用，可使用支付宝账户")
                .form-group
                    .col-sm-4
                    .col-sm-4
                        button.btn.btn-success.btn-block(type="cancel") 注册